* {
    box-sizing: border-box;
}

/*Set colour palette*/
:root {
    --primary: #ffd7c2; /*text*/
    --secondary: #fd7054; /*light background*/
    --tertiary: #6a342a; /*dark background*/
    --highlight: #fa624478; /*highlight*/
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Set basic styles*/
body {
    font-family: Arial;
    font-size: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: var(--tertiary);
    color: var(--primary);
}
  
header {
    margin: 0;
    padding: 20px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
}

/*My name*/
header > h1 {
    background-color: var(--secondary);
    font-size: 4rem;
    padding: 6px 2% 6px 6%;
}

/*Nav box*/
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Nav links*/
nav > a {
    color: var(--secondary);
    margin: 5px 20px;
    font-size: 1.5rem;
    text-decoration: none;
    font-style: normal;
    border-bottom: 4px solid var(--secondary);
}

/*Hero Banner*/
.hero {
    background-color: var(--tertiary);
    background-image: url("https://as1.ftcdn.net/v2/jpg/04/81/66/42/1000_F_481664230_hTAQ6UQcArAboLze8bWsDBjyV9dG0JM5.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 0;
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.hero > h2 {
    background-color: var(--secondary);
    font-size: 2rem;
    margin-right: 20px;
    padding: 2px;
}

.page-wrapper {
    max-width: 90%;
    margin: auto;
}

/*Body container*/
.page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2% 5%;
    justify-content: space-between;
}

/*Section Titles*/
.page-content > h2 {
    text-align: right;
    padding: 0 2% 0 0;
    border-right: 2px solid var(--primary);
    font-size: 3rem;
    flex: 0 0 20%;
}

/*General class for aboutme, work and contact content containers*/
.flex-container {
    display: flex;
    flex-basis: 78%;
    padding: 0 0 0 2%;
}

/*About Me container*/
.about {
    flex-direction: column;
    justify-content: start;
}

.about > p {
    margin-bottom: 10px;
}

/*Work Cards container*/
.projects {
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Work Cards*/
.project-item {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: var(--secondary);
    margin: 5px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: var(--highlight); /*highlight overlaying the images*/
    background-blend-mode: soft-light;
    justify-content: flex-start;
    min-height: 120px;
    flex: 1 1 45%;
    transition-duration: 1s;
}

/*Overlay fades on hover*/
.project-item:hover {
    background-color: rgba(0, 0, 0, 0.018);
}

/*Work Card titles*/
.project-item > div {
    background-color: var(--secondary);
    margin-bottom: 2%;
    align-self: flex-end;
    text-align: left;
    padding: 3px;
}

.project-item > h3 {
    font-size: 1.5em;
}

.project-item > h4 {
    font-size: 1em;
}

/*Contact container*/
.contact {
    justify-content: space-between;
    align-items: center;
    min-width: 780px;
}

/*Contact links*/
.contact > a {
    font-size: 1.5rem;
    text-decoration: none;
    font-style: normal;
    color: var(--primary);
    border-bottom: 4px solid var(--primary);
}

#avatar {
    block-size: 190px;
    margin: 5px;
    border-style: solid;
    border-color: var(--tertiary);
    border-radius: 10px;
}

/*Most recent project is set larger than the rest*/
#main {
    background-image: url("../images/summit1.png");
    min-height: 400px;
    flex: 2 1 100%;
}

#second {
    background-image: url("../images/shadow.jpg");
}

#third {
    background-image: url("../images/snoopy.png");
}

#fourth {
    background-image: url("../images/girls.png");
}

#fifth {
    background-image: url("../images/seal.jpg");
}

/*Content is shown in a column on smaller screens, such as phones*/
@media screen and (max-width: 980px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    header h1 {
        padding: 6px 2%;
    }

    .page-content {
        flex-direction: column;
    }

    .page-content h2 {
        text-align: center;
        padding: 2% 0;
        border-right: none;
        border-bottom: 2px solid var(--primary);
    }

    .flex-container {
        padding: 2% 0;
    }
}