* {
    box-sizing: border-box;
}

:root {
    --primary: #ffd7c2; /*text*/
    --secondary: #fd7054; /*light background*/
    --tertiary: #6a342a; /*dark background*/
    --highlight: #fa6244a2; /*highlight*/
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
  
body {
    font-family: Arial;
    font-size: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: var(--tertiary);
    color: var(--primary);
}
  
header {
    margin: 0;
    padding: 20px 5px 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
}

header h1 {
    background-color: var(--secondary);
    font-size: 4rem;
    padding: 6px 2% 6px 6%;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    color: var(--secondary);
    margin: 0;
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 1.5rem;
}

.hero {
    background-color: var(--tertiary);
    background-image: url("https://as1.ftcdn.net/v2/jpg/04/81/66/42/1000_F_481664230_hTAQ6UQcArAboLze8bWsDBjyV9dG0JM5.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 0;
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.hero h2 {
    background-color: var(--secondary);
    font-size: 2rem;
    margin-right: 20px;
}


.page-wrapper {
    max-width: 85%;
    margin: auto;
}

.page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0px;
    padding: 5%;
    justify-content: space-between;
}

.page-content h2 {
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid var(--primary);
    font-size: 3rem;
    flex: 0 0 20%;
}

.about {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    padding-left: 2%;
    justify-content: start;
}

.about p {
    margin-bottom: 10px;
}

.projects-container {
    display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: var(--secondary);
    margin: 5px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    justify-content: flex-start;
}

.project div {
    background-color: var(--secondary);
    align-self: center;
    text-align: left;
    padding: 0 3px;
}

.project h3 {
    font-size: 1em;
}

.project h4 {
    font-size: 0.7em;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 70%;
}

.contact a {
    font-size: 1.5rem;
    text-decoration: none;
    font-style: normal;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

#main {
    background-image: url("../images/summit1.png");
    height: 100%;
    flex: 2 1 100%;
}

#second {
    background-image: url("../images/shadow pfp.jpg");
    height: 100%;
    flex: 1 1 45%;
}

#third {
    background-image: url("../images/snoopy sleeping.png");
    height: 100%;
    flex: 1 1 45%;
}

#fourth {
    background-image: url("../images/girls.png");
    height: 100%;
    flex: 1 1 45%;
}

#fifth {
    background-image: url("../images/tiny head seal.jpg");
    height: 100%;
    flex: 1 1 45%;
}

#avatar {
    block-size: 190px;
    padding: 5px;
}